#contact {
    margin-top: 150px;
}

.contactBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contactContainer {
    margin-bottom: 125px;
    width: 100%;
    align-items: center;
}

.contactLinks {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: auto;
    margin-top: 150px;
}

.emailLink {
    background-image: url('./gmail.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(6vh + 6vw);
    height: calc(6vh + 6vw);
    cursor: pointer;
}