* {
  /* border: solid 5px;
  box-sizing: border-box; */
  background: #fdfeff;
  font-family: 'Hina Mincho', serif;
  scroll-behavior: smooth;
}

html {
  border-color: red;
}

body {
  border-color: blue;
}

#root {
  border-color: green;
}

.App {
  border-color: yellow;
}
